<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<body>

<cc:interface>
    <cc:attribute name="dataSource" required="true" />
    <cc:attribute name="styleSheet" />
</cc:interface>

<cc:implementation>
    <h:outputScript library="shared-js" name="imageSlider.js"/>
    <h:outputStylesheet library="shared-css" name="#{cc.attrs.styleSheet}"/>
    <div id="loader" class="loader"></div>
		<div class="wrapper">
			<div id="ps_container" class="ps_container">

                <!-- Navigation items -->
				<div class="ps_next"></div>
				<div class="ps_prev"></div>

				<div class="ps_image_wrapper">
					<!-- First initial image -->
                    <h:graphicImage value="#{cc.attrs.dataSource[0].name}" />
				</div>

                <ul class="ps_nav">
                    <ui:repeat value="#{cc.attrs.dataSource}" var="variable" varStatus="index">

                        <!-- Dot list with thumbnail preview -->
                        <li class="#{index.first ? 'selected' : ''}">
                            <h:outputLink value="#{variable.name}" rel="#{variable.filename}" />
                        </li>

                    </ui:repeat>
                    <li class="ps_preview">
				    	<div class="ps_preview_wrapper">
				    		<!-- Thumbnail comes here -->
				    	</div>
				    	<!-- Little triangle -->
				    	<span></span>
				    </li>
                </ul>
			</div>
		</div>
</cc:implementation>

</body>

</html>
