<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://openfaces.org/"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >
<body>

<cc:interface>
    <cc:attribute name="dataSource" required="true" type="com.deals.components.InfiniteScrollDataSource">
        <cc:attribute name="infiniteValues" method-signature="java.util.List f(java.lang.Integer)"/>
    </cc:attribute>
    <cc:attribute name="pageSize" required="true" shortDescription="number of rows on the one page"/>
    <cc:attribute name="columns" required="true"/>
    <cc:attribute name="initialSize"/>
</cc:interface>

<cc:implementation>
    <h:outputScript library="shared-js" name="infiniteScroll.js"/>

    <div id="infinite-scroll">
        <h:panelGroup id="data-source" class="infinite-data-source" style="display: none;">
            <ui:repeat
                    value="#{cc.attrs.dataSource.infiniteValues(cc.attrs.initialSize == null ? cc.attrs.pageSize * cc.attrs.columns : cc.attrs.initialSize * cc.attrs.columns)}"
                    var="variable" varStatus="status">
                <h:panelGroup style="#{(status.index + 1) % cc.attrs.columns != 0 ? 'float: left;' : ''};width: #{100 / cc.attrs.columns}%" class="infinite-scroll-item">
                    <cc:insertChildren/>
                </h:panelGroup>
            </ui:repeat>
        </h:panelGroup>

        <div class="infinite-visible">

        </div>
    </div>

    <div id="window" style="position: fixed; top:10px; right: 10px;">
        <div class="page-number">0</div>
    </div>

    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#infinite-scroll").infiniteScroll({limit: #{cc.attrs.pageSize * cc.attrs.columns}});
        });
    </script>

</cc:implementation>

</body>

</html>
