<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:shared-composite="http://deals.com/shared-composite"
                xmlns:deals-view="http://deals.com/deals-view"
                xmlns:o="http://openfaces.org/"
                xmlns:cc="http://java.sun.com/jsf/composite"
                template="/templates/main.xhtml">

    <ui:define name="body">
        <h:form>

            <h:outputScript library="shared-js" name="raphael.js"/>
            <h:outputScript library="shared-js" name="PicoBlackAl_800.font.js"/>
            <h:outputScript library="shared-js" name="bucket.js"/>

            <div style="height: 23px"/>

            <div style="width: 629px; height: 540px; float: left;margin-right: 12px; margin-left: 24px;"
                 class="secondary-block">
                <ui:insert name="main"/>
            </div>

            <div style="float: left">
                <div style="width: 308px; height: 119px;" class="secondary-block">
                    <ui:insert name="organizer"/>
                </div>

                <div style="height: 12px"/>

                <div style="width: 308px; height: 409px;" class="secondary-block">
                    <ui:insert name="advertisment"/>
                </div>
            </div>

            <div style="clear: both;"/>

            <div style="height: 12px"/>

            <div>
                <div style="width: 629px; float: left;margin-right: 12px; margin-left: 24px;"
                     class="secondary-block">
                    <ui:insert name="tabs"/>
                </div>

                <div id="bucket" style="float: left;width: 308px; height: 409px;" class="secondary-block">
                    <h:outputText value="Hello"/>
                    <div id="sticker-container"/>
                </div>
            </div>

            <div style="clear: both"/>

        </h:form>
    </ui:define>
</ui:composition>