<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>Sample Template</title>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery-1.7.1.js"></script>
    <h:outputScript name="jsf.js" library="javax.faces" target="head"/>
    <h:outputStylesheet library="shared-css" name="styles.css"/>
</h:head>
<h:body>
    <div id="main-block" style="width: 100%;">
        <div class="primary-block">
            <ui:insert name="body"/>
        </div>
    </div>
</h:body>
</html>