<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:shared-composite="http://deals.com/shared-composite"
                xmlns:deals-view="http://deals.com/deals-view"
                xmlns:o="http://openfaces.org/"
                xmlns:cc="http://java.sun.com/jsf/composite"
                template="/templates/main.xhtml">

    <ui:define name="body">
        <h:form>

            <deals-view:breadCrumbs/>

            <!--@elvariable id="gdManagementBean" type="com.deals.mbeans.GDManagementBean"-->
            <shared-composite:infiniteScroll dataSource="#{gdManagementBean}"
                                             pageSize="20"
                                             columns="3">
                <!--@elvariable id="variable" type="com.deals.model.product.Product"-->
                <div>
                    <a href="/deal/#{variable.id}">
                        <h:graphicImage value="#{variable.activeVersion.showcase[0].path}"/>
                    </a>
                </div>
                <div style="position: relative; top: -30px;">
                    <h:outputText value="#{variable.name}"/>
                </div>
            </shared-composite:infiniteScroll>

        </h:form>
    </ui:define>
</ui:composition>