<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:shared-composite="http://deals.com/shared-composite"
                xmlns:deals-view="http://deals.com/deals-view"
                xmlns:o="http://openfaces.org/"
                xmlns:cc="http://java.sun.com/jsf/composite"
                template="/templates/group-deal-template.xhtml">

    <ui:define name="main">
        <h:outputText value="Main"/>
    </ui:define>

    <ui:define name="organizer">
        <h:outputText value="Organizer"/>
    </ui:define>

    <ui:define name="advertisment">
        <h:outputText value="Advertisment"/>
    </ui:define>

    <ui:define name="tabs">
        <o:tabbedPane loadingMode="ajaxLazy" selectedIndex="0" style="width:100%"
                      frontBorderStyle="none"
                      tabStyle="font-size: 16px;">
            <o:subPanel caption="Товары">
                <deals-view:subPanelItemList/>
            </o:subPanel>
            <o:subPanel caption="Описание">
                <deals-view:subPanelDescription/>
            </o:subPanel>
            <o:subPanel caption="Участники">

            </o:subPanel>
            <o:subPanel caption="Обсуждения">

            </o:subPanel>
            <o:subPanel caption="Как получить товар">

            </o:subPanel>
        </o:tabbedPane>
    </ui:define>

</ui:composition>