.secondary-block
{
    border-radius: 7px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.primary-block
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ede0cc;
    height: 100%;
    border-radius: 15px
}

body
{
    background-image:url('/resources/images/pattern.jpg');
    margin: 0;
	padding: 0;
}

#main-block
{
    background-image:url('/resources/images/gradient.png');
    background-repeat:repeat-x;
    min-height:731px;
}