<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core">
<body>

<cc:interface>
</cc:interface>

<cc:implementation>
    <!--@elvariable id="customersBean" type="com.deals.mbeans.CustomersBean"-->

    <h:form>

        <h:dataTable value="#{customersBean.allCustomers}" var="customer">
            <h:column>
                <h:outputText value="#{customer.id}"/>
            </h:column>
            <h:column>
                <h:outputText value="#{customer.userInfo.name}"/>
            </h:column>
            <h:column>
                <h:outputText value="#{customer.userInfo.email}"/>
            </h:column>
            <h:column>
                <h:outputText value="#{customer.userInfo.password}"/>
            </h:column>
            <h:column>
                <h:dataTable value="#{customer.roles}" var="role">
                    <h:column>
                        <h:outputText value="#{role.id}"/>
                    </h:column>
                </h:dataTable>
            </h:column>
        </h:dataTable>

        <h:panelGrid columns="3">
            <h:outputText value="Name:"/>
            <h:inputText id="name" value="#{customersBean.user.userInfo.name}"/>
            <h:message for="name"/>

            <h:outputText value="Email:"/>
            <h:inputText id="email" value="#{customersBean.user.userInfo.email}"/>
            <h:message for="email"/>

            <h:outputText value="Password:"/>
            <h:inputText id="password" value="#{customersBean.user.userInfo.password}"/>
            <h:message for="password"/>

            <h:outputText value="Banned:"/>
            <h:selectBooleanCheckbox value="#{customersBean.user.isBanned}"/>
            <h:outputText value=""/>
        </h:panelGrid>

        <h:commandButton action="#{customersBean.save}" value="Save"/>

    </h:form>
</cc:implementation>

</body>

</html>
