<ui:component xmlns=""
              xmlns:ui="http://java.sun.com/jsf/facelets"
              xmlns:composite="http://java.sun.com/jsf/composite" xmlns:h="http://java.sun.com/jsf/html">

    <composite:interface>
    </composite:interface>

    <composite:implementation>

        <!--@elvariable id="gdManagementBean" type="com.deals.mbeans.GDManagementBean"-->
        <div style="overflow:auto">
            <ui:repeat value="#{gdManagementBean.breadCrumbs}" var="item" varStatus="status">
                <div style="float: left">
                    <a href="/shop/#{item.link}">#{item.value}</a>
                    <h:outputText value=">" rendered="#{!status.last}"/>
                </div>
            </ui:repeat>

            <h:outputText value="|" style="float: left;"/>

            <ui:repeat value="#{gdManagementBean.categories}" var="item" varStatus="status">
                <div style="float: left">
                    <a href="/shop/#{gdManagementBean.categoryPath}#{empty gdManagementBean.categoryPath ? '' : '/'}#{item.link}">#{item.value}</a>
                    <h:outputText value=">" rendered="#{!status.last}"/>
                </div>
            </ui:repeat>
        </div>
    </composite:implementation>

</ui:component>
