<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:o="http://openfaces.org/"
      xmlns:f="http://java.sun.com/jsf/core">
<body>

<cc:interface>
</cc:interface>

<cc:implementation>
    <h:outputText value="Hello world12345"/>

    <o:inputText id="filter" promptText="Search" styleClass="taskInput"
                 style="margin: 8px 0 0 12px;"
                 autocomplete="false">
    </o:inputText>

</cc:implementation>

</body>

</html>
