<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite">
<head>
    <title>Description sub panel composite component</title>
</head>
<body>
    <cc:interface name="subPanelDescription" shortDescription="Sub panel with description of group deals">
    </cc:interface>
    <cc:implementation>

        <!--@elvariable id="singleGDManagementBean" type="com.deals.mbeans.SingleGDManagementBean"-->
        <div id="#{cc.attrs.id}-subPanelDescription"
             style="width: #{cc.attrs.width};">
             <h:outputText value="#{singleGDManagementBean.groupDeal.activeVersion.description}"/>
        </div>
    </cc:implementation>
</body>
</html>