<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:o="http://openfaces.org/"
      xmlns:shared-composite="http://deals.com/shared-composite"
      xmlns:cc="http://java.sun.com/jsf/composite" xmlns:h="http://java.sun.com/jsf/html">
<head>
    <title>Item list sub panel composite component</title>
</head>
<body>
<cc:interface name="subPanelItemList" shortDescription="Panel with tabbed content and ajax-loading abilities">
</cc:interface>
<cc:implementation>
    <!--@elvariable id="singleGDManagementBean" type="com.deals.mbeans.SingleGDManagementBean"-->
    <div id="#{cc.attrs.id}-subPanelItemList" style="width: #{cc.attrs.width};">
        <shared-composite:infiniteScroll dataSource="#{singleGDManagementBean}"
                                         pageSize="20"
                                         columns="3">
            <!--@elvariable id="variable" type="com.deals.model.product.Stock"-->
            <table style="margin: 10px">
                <tr>
                    <td>
                        <h:outputText value="#{variable.name}"/>
                    </td>
                </tr>
            </table>
        </shared-composite:infiniteScroll>
    </div>
</cc:implementation>
</body>
</html>